.banner{
  border-radius: 20px;
  overflow: hidden;
}

.greyBG {
  background-color: #ececec;
  color: $primary;
  font-weight: bold;
}


// .gradientBg {
//   background: linear-gradient(204deg,#ed7306,#df1737);
//   background-size: 120% 120%;
//   animation: gradient-animation 2s ease infinite;
//   color: #000;
// }

// @keyframes gradient-animation {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

.bookingBox{
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid $primary;

  .bookingInfo{
    background-color: #ececec;
    border-radius: 15px;

    & .btn-primary{
      border: none;
    }
    
    & .btn-primary:hover{
      background-color: $secondary;
      border: none;
    }
  }
}

.Footer{
  background: rgb(31, 31, 31);
  color: #fff;
  font-size: 0.9em;
  & ul{
    padding: 0px;
    margin: 0px;
  }
  & .listItem {
    background: none;
    list-style: none;

    & a{
      display: block;
      padding: 1px 0;
      color: $primary;
      text-decoration: none;
    }

    & a:hover {
      color: $secondary;
    }
  }
}